*, *::before, *::after {
    box-sizing: border-box;
}

body , html {
    margin: 0;
    background-color: #121212;
    font-family: 'Inter', sans-serif;
    color: white;
}



header {
 background-image: url('./Images/header.png');
 background-color: #323232;
 background-repeat: no-repeat;
 background-size: cover;
 width: 100vw;
 height: 20vh;
 padding: 0.5px;
 display: flex;
 align-items: center;
 justify-content: space-between;


 

 

}

.header-container {
  width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: baseline;
 padding: 0 1em;
}

.header-container > h1 {
  
  font-size: 2.25rem;
  letter-spacing: -1.926px;
  font-weight: 800;
  margin: 0;
  

}

.header-container h4, .header-container a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
}

form {
    position: absolute;
    background-color: white;
    width: 80vw;
    max-width: 600px;
    height: 38px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 18vh;
    border-radius: 6px;
    border: none;
    background-color: #2e2e2f;
    
    
}

form input {
    font-family: 'Inter', sans-serif;
    height: 100%;
    width: 80%;
    
    border-radius: 6px 0 0 6px;
    border: none;
    background-color: #2e2e2f;
    color: #A5A5A5;
    font-weight: 500;
    font-size: 0.875rem;
    padding-left: 2.25em;
    
}

input:focus {
    outline: none;

}

form:focus-within {

    filter: drop-shadow(0 0 0.25rem #f7f6f6);
    
}

form button {
    font-family: 'Inter', sans-serif;
    position: absolute;
    width: 20%;

    height: 100%;
    color: white;
    background-color: #4B4B4B;
    font-weight: 500;
    border: none;
    border-radius: 0 6px 6px 0;


}

form img {
    position: absolute;
    width: 1em;
    height: 1em;
    top: 0;
    bottom: 0;
    margin: auto 0;
    margin-left: 0.5em;
    
    

}


.feed {  
   
    height: 100%;
    width: 100%;
    
}

.start-exploring {

    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start-exploring > h5 {
    color: #2E2E2F;
    font-weight: 700;
    font-size: 1.125rem;
    margin-top: 0.2em;
}

.movie-container {
    width: 90%;
    height: 150px;
    margin: 2em 1em;
    display: flex;
}

.poster-container {
    display: flex;
    align-items: center;
}

.poster-container > img {
    height: 150px;
    max-width: 100px;
    text-overflow: ellipsis;
    font-size: 0.7rem;
    
}

.movie-name {
   width: 100%;
   display: flex;
   align-items: center;
   

}

.fa-star {
    margin-left: 1em;
}

.movie-rating {
    font-size: 0.9em;
}

.movie-body {
    width: 100%;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-title {
    font-size: 0.813rem;
    margin: 0.6em 0;
}

.movie-more {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0.4em 0;
    font-weight: 400;

}

.movie-more > h5 {
    font-size: 0.6rem;
    margin: 0;

}

.movie-plot {
    font-size: 0.625rem;
    line-height: 1.5;
    margin: 0;
    text-overflow: ellipsis;
    font-weight: 400;

}